@font-face {
  font-family: 'Inter';
  src: local("Inter Bold"), 
  url("../fonts/Inter/Inter-Bold.woff") format("woff"), 
  url("Inter-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: local("Inter Semibold"), 
  url("../fonts/Inter/Inter-SemiBold.woff") format("woff"), 
  url("Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: local("Inter Medium"), 
  url("../fonts/Inter/Inter-Medium.woff") format("woff"), 
  url("Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: local("Inter Regular"), 
  url("../fonts/Inter/Inter-Regular.woff") format("woff"), 
  url("Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
